In [1]:
import pandas as pd

In [4]:
file='data\\PyWeatherTable.csv'

In [6]:
df=pd.read_csv(file)
df.head()

,City,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,City Country,City Date
0,saint-denis,48.94,2.36,290.15,55,0,1.50,FR,1567461072
1,suez,29.97,32.54,297.00,78,0,5.05,EG,1567461072
2,karasburg,-28.01,18.75,288.90,10,3,4.93,NaN,1567461073
3,adrar,27.87,-0.29,309.15,18,0,5.70,DZ,1567461074
4,laguna,16.17,-88.94,306.15,59,40,3.10,BZ,1567461075

In [10]:
df.to_html('Data_Py.html')